node_modules/chai/
node_modules/mocha/
node_modules/.bin/
node_modules/mocha-istanbul/
node_modules/istanbul/
node_modules/doxit/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

